{{ define "layout/main" }}
<!doctype html>
<html lang="en">
<head>
    <title>{{.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <link href="/assets/lib/bootstrap-v5.0.2.min.css"rel="stylesheet">
    <script src="./assets/lib/vue-3.1.4.global.prod.js"></script>
    <script src="./assets/lib/vue-router.global.js"></script>
    <script src="./assets/lib/vuex-4.0.2.global.prod.js"></script>
    <script src="./assets/lib/bootstrap-v5.0.2.bundle.min.js"></script>
</head>
<body>
{{ end }}
